
// SBATCH parameters
process {
    //global, fastp, sga
    withLabel: small_memory {
        errorStrategy = 'retry'
        maxRetries = 3
        cpus = { 32 * task.attempt }
        memory = { 28.GB * task.attempt }
        time = { 2.hour * task.attempt }
        
    }

    // metrics and plots
    withLabel: little_memory {
        errorStrategy = 'retry'
        maxRetries = 3
        cpus = { 8 * task.attempt }
        memory = { 10.GB * task.attempt }
        time = { 30.m * task.attempt }
    }

    //  withName: PRINSEQ {
    //     cpus = 62
    //     memory = 50.GB
    //     queue = 'shared'
    //     time = 8.h
    // }
    

}

manifest {
    name        = "MCWorkflow"
    description = "v1"
    author      = "Nikolay Oskolkov, Chenyu Jin"
    mainScript  = "main.nf"
    version     = "1"
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    	}

    apptainer {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
    	}
    conda {
        conda.enabled = true
        }
    //test            { includeConfig 'conf/test.config'          }
    //test_full       { includeConfig 'conf/test_full.config'     }

}

// from nf-core/configs: pdc_kth for cluster dardel

params {
    project                    = "naiss2025-xx-xxx" // Naiss project allocation
    clusterOptions             = null
    clusterName                = {
        def cluster = "unknown"
        try {
            cluster = ['/bin/bash', '-c', 'sacctmgr show cluster -n | grep -o "^\s*[^ ]*\s*"'].execute().text.trim()
        }
        catch (IOException _e) {
            System.err.println("WARNING: Could not run sacctmgr, defaulting to unknown")
        }
        cluster
    }.call()

    config_profile_description = 'PDC profile.'
    config_profile_contact     = 'Pontus Freyhult (@pontus)'
    config_profile_url         = "https://www.pdc.kth.se/"

    max_memory                 = 1790.GB
    max_cpus                   = 256
    max_time                   = 7.d

    ignore_params_list         = [
        "cluster-options",
        "clusterOptions",
        "clusterName",
        "genomes",
        "ignore_params_list",
        "input_paths",
        "max_cpus",
        "max_memory",
        "max_time",
        "project",
        "schema_ignore_params",
        "validationSchemaIgnoreParams",
    ]
}

process {
    resourceLimits = [
        memory: 1790.GB,
        cpus: 256,
        time: 7.d,
    ]
    // Should we lock these to specific versions?
    beforeScript   = 'module load PDC apptainer'

    executor       = "slurm"
    clusterOptions = {
        def clusterOptionsCreator = { mem, time, cpus ->
            def slurm_opts = [
                "-A ${params.project}",
                params.clusterOptions ?: "",
            ]

            if (params.clusterName == "dardel") {
                if (time <= 7.d && mem <= 111.GB && cpus <= 256) {
                    slurm_opts << "-p shared"
                }
                else {
                    def partition = time < 1.d
                        ? (mem > 222.GB ? 'memory,main' : 'main')
                        : (mem > 222.GB ? 'memory' : 'long')
                    slurm_opts << "-p ${partition}"
                }
                if (!mem || mem < 6.GB) {
                    // Impose minimum memory if request is below
                    slurm_opts << '--mem=6G'
                }
            }
            slurm_opts.minus("").join(" ")
        }
        clusterOptionsCreator(task.memory, task.time, task.cpus)
    }
}

