params {
    input_ref = "GCF_002220235.fna.gz"  // name of input reference genome to be screened for presence of exogeneous sequeneces
    input_dir = "data"  // relative or absolute path to the input directory containing the input reference genome
    type_of_pseudo_reads = "GTDB"  // type of pseudo-reads to be used for screening the input reference genome, can be "GTDB", "RefSeq" or "human"
    threads = "4"   // number of available threads
    input_pseudo_reads = "GTDB_sliced_seqs_sliding_window.fna.gz"  // name of the pre-computed file with pseudo-reads, can be "GTDB_sliced_seqs_sliding_window.fna.gz", "RefSeq_sliced_seqs_sliding_window.fna.gz" or "human_sliced_seqs_sliding_window.fna.gz"
    input_gtdb_annot = "GTDB_fna2name.txt"  // annotation file needed for converting GTDB IDs to scientific microbial names
}

