// Manifest
manifest {
    name        = "MCWorkflow"
    description = "v1"
    author      = "Nikolay Oskolkov, Chenyu Jin"
    mainScript  = "main.nf"
    version     = "1"
}

// Enable pipeline resume
resume = true

// Global defaults
params {
    genomes_directory = null // Directory containing reference FASTAs for masking
    input_list = "/path/to/list" // list with each line as the absolute path to reference genomes (fasta-files) to be masked
    pseudo_reads_file_dir = '/path/to/MCWorkflow/pseudo_reads_file_dir' 
    type_of_pseudo_reads = "GTDB"                                  // type of pseudo-reads to be used for screening the input reference genome, can be "GTDB", "RefSeq" or "human"
    n_allowed_multimappers = 10                                    // number of multi-mapping pseudo-reads allowed by Bowtie2, do not change this default number unless you know what you are doing
    work_dir = '/path/to/MCWorkflow' //the directory of the workflow, do not have / at the end
    fna2name = 'path/to/MCWorkflow/GTDB_fna2name.txt' //contig to species name correspondence file

    // Internal
    outdir                     = 'results'
    monochrome_logs            = false
    help                       = false
    help_full                  = false
    show_hidden                = false
    version                    = false
    trace_timestamp            = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
    tracing                    = false
    validate_params            = true
    config_profile_name        = null
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"

}

// Generic HPC config
includeConfig 'conf/base.config'


// Profiles
profiles {

    debug {
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        conda.channels          = ['conda-forge', 'bioconda']
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
    }
    docker {
        docker.enabled          = true
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    emulate_amd64 {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        apptainer.cacheDir      = "work/singularity"
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.cacheDir    = "work/singularity"
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    test {
        includeConfig 'conf/test.config'
    }
}

// Allow institutional configs
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Set container registry information
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'

// Bash options
process.shell = [
    "bash",
    "-C",           // No clobber - prevent output redirection from overwriting files.
    "-e",           // Exit if a tool returns a non-zero status/exit code
    "-u",           // Treat unset variables and parameters as an error
    "-o",           // Returns the status of the last command to exit..
    "pipefail"      //   ..with a non-zero status or zero if all successfully execute
]

// Universal output publishing settings
// workflow {
//     output {
//         mode = 'copy'
//         overwrite = true
//     }
// }

// Disable process selector warnings (use debug profile to enable)
nextflow.enable.configProcessNamesValidation = false


// Tracing
timeline {
    enabled   = params.tracing
    file      = "${projectDir}/results/01_pipeline_info/tracing/${params.trace_timestamp}_timeline.html"
    overwrite = true
}
report {
    enabled   = params.tracing
    file      = "${projectDir}/results/01_pipeline_info/tracing/${params.trace_timestamp}_report.html"
    overwrite = true
}
trace {
    enabled   = params.tracing
    file      = "${projectDir}/results/01_pipeline_info/tracing/${params.trace_timestamp}_trace.txt"
    overwrite = true
}
dag {
    enabled   = params.tracing
    file      = "${projectDir}/results/01_pipeline_info/tracing/${params.trace_timestamp}_dag.png"
    overwrite = true
}

// Plugins & validation
plugins {
    id 'nf-schema@2.6.1'
}

// Do not prompt updates to specific parameter defaults when running `nf-core pipelines schema build`
validation {
    defaultIgnoreParams = [
        "trace_timestamp"
    ]
}

// Modules config
includeConfig 'conf/modules.config'

// Tool resources
includeConfig 'conf/tool_resources.config'
