params {
    input_dir = "data"                                             // folder with multiple reference genomes (fasta-files)
    type_of_pseudo_reads = "GTDB"                                  // type of pseudo-reads to be used for screening the input reference genome, can be "GTDB", "RefSeq" or "human"
    threads = 4                                                    // number of available threads
    input_pseudo_reads = "/cfs/klemming/projects/supr/snic2022-6-144/CHENYU/MCWorkflow/test_GTDB/*.fna.gz"  // name of pre-computed file with pseudo-reads, can be "GTDB_sliced_seqs_sliding_window.fna.gz", "RefSeq_sliced_seqs_sliding_window.fna.gz" or "human_sliced_seqs_sliding_window.fna.gz"
    n_allowed_multimappers = 10                                    // number of multi-mapping pseudo-reads allowed by Bowtie2, do not change this default number unless you know what you are doing
    output_dir = 'output'
    work_dir = '/cfs/klemming/projects/snic/snic2022-6-144/CHENYU/MCWorkflow' //the directory of the workflow, do not have / at the end
    fna2name = '/cfs/klemming/projects/snic/snic2022-6-144/CHENYU/MCWorkflow/GTDB_fna2name.txt' //contig to species name correspondence file
}

process {
	// bowtie2.5.4 and samtools1.20
	withLabel: 'bowtie2_samtools' {
		container = 'docker://quay.io/biocontainers/mulled-v2-c742dccc9d8fabfcff2af0d8d6799dbc711366cf:2c4c4e771c5f7d6e311c74234a98ccf71669d6fb-0'
	}

	// samtools=1.19.2,r-base=4.3
	withLabel: 'R_samtools' {
                container = 'docker://quay.io/biocontainers/mulled-v2-0697a5880de9863c66cba89c8310687052a940fc:c72ea422cf70582757ae5648f79b19857320259b-0'
}

}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    	}

    apptainer {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
    	}
}
